/* products-grid-section */
.highlight {
  grid-area: highlight;
  background-image: url('../../assets/images/hero.jpg');
  background-position: center;
}

.card{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.sneaker-purple {
  grid-area: sneaker-purple;
  background-image: url('../../assets/produtos/tenis-roxo.jpg');
  background-position: center;
}

.model {
  grid-area: model;
  background-image: url('../../assets/produtos/mulher.png');
  background-position: center;
}

.sneaker-color {
  grid-area: sneaker-color;
  background-image: url('../../assets/produtos/tenis-rosa-azul.png');
  background-position: center;
}

.sneaker-white {
  grid-area: sneaker-white;
  background-image: url('../../assets/produtos/tenis-pretoazul.jpg');
  background-position: center;
  
}

.sneaker-gray {
  grid-area: sneaker-gray;
  background-image: url('../../assets/produtos/tenis-cinza.png');
  background-position: center;
}

.products-grid-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-template-areas: 
    "highlight highlight sneaker-purple sneaker-purple"
    "highlight highlight model          sneaker-color"
    "sneaker-white sneaker-white model  sneaker-gray";
  gap: 20px;
}


.top-content{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-title{
  color: #ededed;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 10px;

}

.card-subtitle{
  color: #ededed;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.cta-group{
  display: flex;
  gap: 10px;
}


@media (max-width: 768px) {
  .categoria-card {
    width: 100%;
  }

  .products-grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "highlight highlight"
      "sneaker-purple sneaker-purple"
      "model sneaker-gray"
      "model sneaker-color"
      "sneaker-white sneaker-white";
    max-width: 100%;
    gap: 15px;
  }

  /* Alturas mais suaves */
  .highlight,
  .model,
  .sneaker-color,
  .sneaker-white,
  .sneaker-purple,
  .sneaker-gray {
    min-height: 300px; /* pode ajustar para 250px se quiser mais compacto */
    width: 100%;
  }


  .products-grid-section .card {
    background-size: cover; /* ocupa toda a área */
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    width: 100%;
  }
}

